<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", Map.put(assigns, :conn, @conn) %>
  <body>
    <div class='container'>
      <%= render "header.html", Map.put(assigns, :conn, @conn) %>
      <main role="main" class="container mt-4">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= @inner_content %>
      </main>
      <%= render "footer.html", Map.put(assigns, :conn, @conn) %>
    </div>
  </body>
</html>
